# Optional pip install file for helper-runner plugins not included in pyproject dev extras.
pytest>=7.4.0
pytest-cov
pytest-qt>=4.2.0
pytest-mock
pytest-timeout
pytest-xdist
pytest-json-report
pytest-watcher
